@charset "UTF-8";

/* Para tablets */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section {
        width: 80%;
        height: 380px;
        display: flex;
        align-items: center;
    }

    section div#image {
        float: left;
        width: 30%;
        height: 100%;
    }

    section div#form {
        float: right;
        width: 70%;
    }

    section div#form h1 {
        font-size: 2em
    }

    div#form p {
        margin-block: 10px;
    }

    div.campo {
        margin-block: 5px;
    }
}

/* Telas grandes */
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section {
        width: 990px;
        height: 400px;
    }

    section div#image {
        float: right;
        width: 50%;
        height: 100%;
    }

    section div#form {
        float: left;
        width: 50%;
        margin-top: 45px;
    }

    div#form h1 {
        font-size: 2em;
    }

    div#form p {
        font-size: 1.2em;
        margin-block: 20px;
    }

    div.campo {
        margin-block: 5px;
    }

}